<div class="container">
  <div class="title">
    <h1>Adicionar Veículo</h1>
  </div>
  <div class="inputs">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)] = "car.name" name = "name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select [(ngModel)] = "car.brand" name = "brand" required (click) = "listBrands()">
          <mat-option>
            Outro <span style="color: green; font-size: 10px" (click) = "openDialogAddBrand()">(Clique para adicionar)</span>
          </mat-option>
          <mat-option *ngFor = "let brand of brands" value = {{brand.name}}>
            {{brand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ano</mat-label>
        <input type="number" matInput [(ngModel)] = "car.year" name = "year" required>
      </mat-form-field>
      <div class="button">
        <button type="button" class="btn btn-success" (click) = "addCar()" mat-dialog-close>Adicionar</button>
      </div>
    </form>
    <div class="close">
      <span></span>
      <button type="button" class="btn btn-danger" mat-dialog-close>Close</button>
    </div>
  </div>
</div>
