.container{
  min-height: 92vh;
  display: flex;
  justify-content: center;

  .first-content{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    #addCar-button{
      background-color: var(--jewel);
      width: 10rem;
      font-weight: bold;
    }

    .title{
      h1{
        font-family: rajdhani;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }

  .second-content{
    table{
      text-align: center;
      width: 100%;
      box-shadow: 2px 3px 2px #c4c4c4;
      font-size: 1.2rem;

      .icon-button{
        cursor: pointer;
      }
    }
  }
}
