.cadastroContainer{
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;

  .title{
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .formulary{
    form{
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
}

.contentContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .listContainer{
    border: 2px solid var(--brisa-orange);
    border-radius: 5px;
    padding: 2rem;

    .titleList{
      font-family: rajdhani, sans-serif;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .imageContainer{
    img{
      width: 40rem;
    }
  }

}



