.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  height: 8vh;
  background-color: var(--void);
  font-weight: bold;

  .logo{
    font-family: rajdhani, sans-serif;
    font-size: 2.5rem;
    color: var(--yellow-omni);
  }

  .options{
    font-size: 1.5rem;
    color: white;
    transition: color 0.2ms;
    a{
      padding: 1rem;
      &:hover{
        color: var(--yellow-omni);
      }
    }

  }
}
